/* Add some basic styling to the form */
body {
    text-align: center;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

h1 {
    font-size: 48px;
    color: whitesmoke;
}

p {
    font-size: 22px;
}

.form-rows {
    position: relative;
    display: block;
    height: 100%;

}

.master-div-style {
    margin: auto;
    width: 950px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;

}

.fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;

}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
    font-size: 17px;
}

.input-fields {
    height: 20px;
    width: 240px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #3b3a3a;
    border-radius: 5px;
}

.input-fields::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-field {
    height: 20px;
    width: 109px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #3b3a3a;
    border-radius: 5px;
}

.input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dropdown {
    height: 35px;
    width: 150px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.Dropdown {
    height: 35px;
    width: 155px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.user-selection {
    float: left;
    margin-right: 5px;
}

.button {
    font-size: 1em;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 150px;
    margin: 10px;
}



@media (max-width: 833px) {
    .master-div-style {
        width: 70%;
    }

    .fields {
        display: inline-block;
        text-align: left;
        width: 48%;
        vertical-align: middle;
    }

    .input-fields {
        width: 80%;
    }

    .dropdown {
        width: 100%;
    }
}

.result h2,
.result p {
    display: inline-block;
    margin: 0px;
    padding: 6px;

}


@media (max-width: 520px) {
    .master-div-style {
        width: 80%;
    }

    .fields {
        width: 80%;
        float: left;
    }

    .labels {
        width: 100%;
        text-align: left;
    }

    .input-fields {
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }
}